@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
}
h4 {
  font-size: 1.9rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
p {
  margin-bottom: 5px;
  font-size: 1.5rem;
}
p span {
  color: rgb(84, 78, 78);
}
.resume {
  max-width: 595px;
  margin: auto;
}
.header {
  text-align: center;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name,
.profession {
  text-transform: uppercase;
}
.name {
  font-size: 3.5rem;
  letter-spacing: 3px;
}
.profession {
  font-size: 1.9rem;
}
.info {
  display: flex;
}
.left {
  width: 40%;
  height: 600px;
}
.right {
  width: 60%;
  height: 600px;
}
article {
  padding: 2rem;
}
